$green:#0AC25A;
.login-bg{
    background:$green !important;
}

.btn-green{
    background:$green !important;
    color:white;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: $green;
    box-shadow: 0 1px 1px rgba(10, 194, 90, 0.075) inset, 0 0 8px rgba(10, 194, 90,0.6);
    outline: 0 none;
}